/* http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126
   License: none (public domain)
*/

html , body , div , span , applet , object , iframe {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

h1 , h2 , h3 , h4 , h5 , h6 , p , blockquote , pre , a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

abbr , acronym , address , big , cite , code , del {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

dfn , em , img , ins , kbd , q , s , samp , small {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

strike , strong , sub , sup , tt , var , b , u , i {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

center , dl , dt , dd , ol , ul , li , fieldset , form {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

label , legend , table , caption , tbody , tfoot {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

thead , tr , th , td , article , aside , canvas {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

details , embed , figure , figcaption , footer {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

header , hgroup , menu , nav , output , ruby , section {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

summary , time , mark , audio , video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article , aside , details , figcaption , figure {
  display: block;
}

footer , header , hgroup , menu , nav , section {
  display: block;
}

body {
  line-height: 1;
}

ol , ul {
  list-style: none;
}

blockquote , q {
  quotes: none;
}

blockquote:before , blockquote:after , q:before , q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
